/.vs/PersonalFinancePlatformAPI/FileContentIndex/1f7c7084-1419-41c6-a515-4212a17ddcc4.vsidx
/.vs/PersonalFinancePlatformAPI/v17/.suo
/.vs/PersonalFinancePlatformAPI/v17/DocumentLayout.json
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.exe
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.pdb
/PersonalFinancePlatformAPI/obj/Debug/net8.0/apphost.exe
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.AssemblyInfo.cs
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.AssemblyInfoInputs.cache
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.csproj.FileListAbsolute.txt
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.pdb
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.sourcelink.json
/PersonalFinancePlatformAPI/obj/Debug/net8.0/ref/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/obj/Debug/net8.0/refint/PersonalFinancePlatformAPI.dll
/.vs/PersonalFinancePlatformAPI/v17/DocumentLayout.backup.json
