/.vs/PersonalFinancePlatformAPI/FileContentIndex/1f7c7084-1419-41c6-a515-4212a17ddcc4.vsidx
/.vs/PersonalFinancePlatformAPI/v17/.suo
/.vs/PersonalFinancePlatformAPI/v17/DocumentLayout.json
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.exe
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.pdb
/PersonalFinancePlatformAPI/obj/Debug/net8.0/apphost.exe
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.AssemblyInfo.cs
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.AssemblyInfoInputs.cache
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.csproj.FileListAbsolute.txt
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.pdb
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.sourcelink.json
/PersonalFinancePlatformAPI/obj/Debug/net8.0/ref/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/obj/Debug/net8.0/refint/PersonalFinancePlatformAPI.dll
/.vs/PersonalFinancePlatformAPI/v17/DocumentLayout.backup.json
/bin
/.gitignore
/.vs/PersonalFinancePlatformAPI/FileContentIndex/4b393130-216a-488d-b42a-08575480ac9e.vsidx
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Azure.Core.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Azure.Identity.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Humanizer.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Build.Locator.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.deps.json
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.exe
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.pdb
/PersonalFinancePlatformAPI/bin/Debug/net8.0/PersonalFinancePlatformAPI.runtimeconfig.json
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.ClientModel.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.CodeDom.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Composition.Convention.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Drawing.Common.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Formats.Asn1.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.IO.Pipelines.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Memory.Data.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Runtime.Caching.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Security.Permissions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Text.Json.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/System.Windows.Extensions.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/PersonalFinancePlatformAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PersonalFinancePlatformAPI/obj/Debug/net8.0/apphost.exe
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.csproj.CoreCompileInputs.cache
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.csproj.FileListAbsolute.txt
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.genruntimeconfig.cache
/PersonalFinancePlatformAPI/obj/Debug/net8.0/PersonalFinancePlatformAPI.pdb
/PersonalFinancePlatformAPI/obj/Debug/net8.0/ref/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/obj/Debug/net8.0/refint/PersonalFinancePlatformAPI.dll
/PersonalFinancePlatformAPI/PersonalFinancePlatformAPI.csproj
